<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-div">
      </div>
    </div>
<div class="row d-flex align-items-center about-container">
  <!-- Image Column -->
  <div class="col-lg-4 d-flex align-items-center justify-content-center about-img">
    <img src="img/about.jpg" alt="Grant" class="img-fluid rounded about-image" style="max-width: 100%; height: auto;">
  </div>
  <!-- Text Column -->
  <div class="col-lg-8 about-text">
    {% capture about_content %}{% include about.md %}{% endcapture %}
    {{ about_content | markdownify }}
  </div>
</div>

    
    <!-- Button Row -->
    <div class="row">
  <div class="col-lg-12 text-center">
    <a href="https://www.linkedin.com/in/grantwoolley" class="btn btn-lg btn-outline btn-text btn-about">
      <i class="fa-brands fa-linkedin"></i> Connect With Me
    </a>
  </div>
</div>

  </div>
</section>
