<!-- Portfolio Modal content -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Create a modal-header section for the sticky elements -->
      <div class="modal-header">
        <div class="close-modal" data-dismiss="modal"></div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
              <h2 class="text-center">{{ post.title }}</h2>
              <hr class="star-div">
            </div>
          </div>
        </div>
      </div>
	
      <!-- The rest of your content stays in modal-body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
              <!-- Your scrollable content here -->
              <!-- Video and Preview Image -->
              {% if post.video %}
                <div class="video-container text-center video-preview">
                  {% if post.video contains 'youtube.com' or post.video contains 'youtu.be' %}
                    <!-- YouTube Video -->
                    <div class="video-preview-overlay">
                      <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                      <div class="play-button">
                        <i class="fa fa-play"></i>
                      </div>
                    </div>
                    {% assign youtube_id = '' %}
                    {% if post.video contains 'youtube.com/watch?v=' %}
                      {% assign youtube_id = post.video | split: 'watch?v=' | last | split: '&' | first %}
                    {% elsif post.video contains 'youtu.be/' %}
                      {% assign youtube_id = post.video | split: 'youtu.be/' | last %}
                    {% endif %}
                    <iframe style="display:none;" src="https://www.youtube.com/embed/{{ youtube_id }}?rel=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  {% elsif post.video contains 'vimeo.com' %}
                    <!-- Vimeo Video -->
                    <div class="video-preview-overlay">
                      <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                      <div class="play-button">
                        <i class="fa fa-play"></i>
                      </div>
                    </div>
                    {% assign vimeo_id = post.video | split: 'vimeo.com/' | last %}
                    <iframe style="display:none;" src="https://player.vimeo.com/video/{{ vimeo_id }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  {% else %}
                    <!-- Standard Video File -->
                    <div class="video-preview-overlay">
                      <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                      <div class="play-button">
                        <i class="fa fa-play"></i>
                      </div>
                    </div>
                    <video controls class="img-responsive img-centered" style="display:none;">
                      <source src="{{ post.video }}" type="video/webm">
                      Your browser does not support the video tag.
                    </video>
                  {% endif %}
                </div>
              {% else %}
                <!-- Fallback Image -->
                <div class="text-center">
                  <div class="video-container">
                    <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                  </div>
                </div>
              {% endif %}	 



			<!-- Set default post.link_info when not available -->
			{% if post.link_info == nil %}
				{% assign post.link_info = "" %}
			{% endif %}

			<!-- Dynamically find storefront icons for post.links -->
			<div class="platform-icons text-center mt-4 mb-4">
			  <h4>{{ post.link_info }}</h4>
			  <div class="icon-container">
			  
			  <!-- Using site-wide icon definitions from _data/icons.yml -->
			  {% assign icons = site.data.icons %}
			  
			  <!-- Find link icon -->
			  {% for link in post.links %}
				{% assign link = link | strip | remove_first: "powered" %}
				
				<!-- Assign default link icon -->
				{% assign icon_img = "link.svg" %}
				{% assign icon_name = "Link" %}
				{% assign icon_class = "" %}
				
				<!-- Check each icon keyword against the full link -->
				{% for icon_pair in icons %}
				  {% assign key = icon_pair[0] | strip %}
				  {% assign value = icon_pair[1] | strip %}
				  
				  {% if link contains key %}
					{% assign icon_img = value %}
					{% assign icon_name = key | capitalize %}
					{% assign icon_class = key | downcase %}
					{% break %}
				  {% endif %}
				{% endfor %}
				
				{% if link contains "." %}
				  <a href="{{ link }}" target="_blank" rel="noopener noreferrer" class="platform-link">
					<img src="{{ site.baseurl }}/img/icons/{{ icon_img }}" alt="{{ icon_name }}" class="button-icon {{ icon_class }}" title="{{ icon_name }}">
				  </a>
				{% else %}
				  <span class="platform-link disabled">
					<img src="{{ site.baseurl }}/img/icons/{{ icon_img }}" alt="{{ icon_name }}" class="button-icon disabled" title="{{ icon_name }}">
				  </span>
				{% endif %}
			  {% endfor %}
			  </div>
			</div>
			
			
			<hr>
			
			
              <!-- Brief Description -->
              {% if post.description %}
                <p>{{ post.description }}</p>
              {% endif %}
            
              <!-- Additional Info -->
              <ul class="list-inline item-details">
                {% if post.client %}
                  <li>Client:
                    <strong>{{ post.client }}</strong>
                  </li>
                {% endif %}
                
                {% if post.project-date %}
                  <li>Date:
                    <strong>{{ post.project-date }}</strong>
                  </li>
                {% endif %}
                
                <!-- {% if post.category %} -->
                  <!-- <li>Service: -->
                    <!-- <strong>{{ post.category }}</strong> -->
                  <!-- </li> -->
                <!-- {% endif %} -->
              </ul>
            
              <hr class="star-div">

              {% if post.secret == true %}
                <!-- Password Prompt -->
                <div id="password-container">
                  <div class="text-center"> 
                    <p>🙈🙉🙊</p>
                    <p>Sorry! But you need permission to see this super secret content!</p>
                  </div>
                  <label for="password-input">Enter Password:</label>
                  <input type="password" id="password-input" placeholder="Enter password">
                  <button id="submit-password">Submit</button>
                  <p id="error-message" style="color: red; display: block; visibility: hidden;">Incorrect password. Please try again.</p>
                </div>
                <!-- Restricted Content -->
                <div id="restricted-content" style="display: none;">
                  <!-- Post Markdown Content -->
                  <div class="content text-center">
                    <div class="content-inner">
                      {{ post.content | markdownify }}
					  <!-- {% include markdown_table.html content=post.content %} -->
                    </div>
                  </div>
                </div>
              {% else %}
                <!-- Post Markdown Content for non-secret posts -->
                <div class="content text-center">
                  <div class="content-inner">
                    {{ post.content | markdownify }}
					<!-- {% include markdown_table.html content=post.content %} -->
                  </div>
                </div>
              {% endif %}
			
			   <!-- End of modal content -->
			  <hr>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-times"></i> Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}